$theme-colors: (
  primary: #17a2b8,
  secondary: #dcfaff,
  themeone: #19B9D1,
  themetwo:#138C9E,
  themethree:#157381,
  themefour:#0E6A78,
  themefive:#073238,
  themesix:#18ADC4,
);

@import "~/node_modules/bootstrap/scss/bootstrap";