$theme-colors: (
  primary: #17a2b8,
  secondary: #dcfaff,
  themeone: #17a2b8,
  themetwo:#0E82CF,
  themethree:#0E4CC4,
  themefour:#0ECFB4,
  themefive:#0EC477,
  themesix:#04DB45,
);

@import "~/node_modules/bootstrap/scss/bootstrap";